* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
body {
  background-image: url('expense.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar {
  margin: -31px -35px;
    background-color: #2c3e50;
    padding: 23px 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 56px;
  height: 61px;
  border-radius: 50%;
  margin: 2px 0px 0px 53px;
  object-fit: cover;
}

.title {
  font-size: 1.75rem;
    font-weight: bold;
    
    margin: 14px 55px;
}

body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    background-color: #f9f9f9;
  }
  .container
{
  width: 500px;
margin: 143px 540px;
background-color: #bdc3c7;
height: 274px;
border-radius: 35px;
border: 5px solid black;
}
h1{
  margin: 22px 0px;
    text-align: center;
}
#loginForm
{
  margin: auto;
}
p{
  text-align: center;
}
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  
  input {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  button {
    padding: 0.5rem;
    background-color: #7f2b80;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #27ae60;
  }
  